<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>密码找回</title>
</head>
<body>
  {:widget("Cate/header")}
  	<div class="col-sm-6"> 
   <div class="featured-box featured-box-secundary default info-content"> 
    <div class="box-content"> 
     <h4>密码找回</h4> 
     <form action="/homelogin/doforget" id="" method="post"> 
      <div class="row"> 
       <div class="form-group"> 
        <div class="col-md-12"> 
         <label>邮箱</label> 
         <input type="text" value="" name="email" class="form-control input-lg"> 
        </div> 
       </div> 
      </div>  
      <div class="row"> 
       <div class="col-md-6"> 
        <input type="submit" value="找回密码" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading..."> 
       </div> 
      </div> 
     </form> 
    </div> 
   </div> 
  </div>
  {:widget("Cate/footer")}
</body>
</html>