{extend name="AdminPublic:publics"}
{block name="admin"}
<div class="container">
                        
   <div class="mws-panel-body no-padding"> 
    <form class="mws-form" action="/adminusers/saverole" method="post"> 
     <div class="mws-form-inline"> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">权限信息</label> 
       <div class="mws-form-item clearfix"> 
        <h4>当前角色:{$role['name']}的权限信息</h4> 
        <ul class="mws-form-list inline">
            {foreach name="node" item="row"}
             <li><input type="checkbox"> <label>{$row['name']}</label></li>
             {/foreach}                                
        </ul> 
       </div> 
      </div> 
     </div> 
     <div class="mws-button-row">
      <input value="分配权限" class="btn btn-danger" type="submit"> 
      <input value="Reset" class="btn " type="reset"> 
     </div> 
    </form> 
   </div>

                               
                    <!-- Panels End -->
                </div>
{/block}
{block name="title"}分配权限{/block}
