	<!doctype html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>欢迎登录京东后台</title>
	<link rel="stylesheet" href="/static/Login/css/admin.css">
	<style>
	body{

	background-color: #F2F2F2;

	}

		a{
			cursor:pointer;
		}

	</style>
	</head>
	<body>

	<div id="adv"> </div>
	<div id="login1">
	<a href="../index.php"><img src="/static/Login/images/login.png" alt=""style="float:left"></a>
	<div id="login2">
		管理员登录
	</div>
	</div>
	<div id="adv1"></div>
	<div id="adv"> </div>
	<!-- <div id="login4">[English]
	</div> -->
	<div id="login3">
	<div id="login5"style="float:left">
	<img src="/static/Login/images/1.jpg" alt="">
	</div>
	<div id="login51"></div>
	<form action="/adminlogin/dologin" method='post'>
	<div id="login6">
		<span>
	管理员用户名
		</span>
	<div id="login61">
	<input type="text" name="name" id="z" >
	<img src="/static/Login/images/d.png" alt="">
	</div>
	<span>
	密码</span>
	<div id="login62">
	<input type="password" name="password" id="z" >
	<img src="/static/Login/images/m3.png" alt="">
	</div>
	<div id="login63">
	验证码<br> 
	<img id="yy"src="{:captcha_src()}" alt="" onclick='this.src="{:captcha_src()}?rand="+Math.random()'>看不清？<a onclick='a.src="{:captcha_src()}?rand="+Math.random()'>换一张</a><br>
	输入验证码<br>
	<input type="text" name="fcode" id="zz">
	</div>

	<a href=""><input type="submit" value="登录"id="dd"></a>

	</div>


	<!-- sfdgsfgjhjdhj -->
	</div>
	<div id="login7">
	<!-- <a href="reg.php"><img src="/static/Login/images/flogin.png" alt=""></a> -->
	</div>
	<div id="login8"></div>
	<!-- bghrjj -->
	</form>
	</body>
	<script>
	var a=document.getElementById('yy');
</script>
	</html>

